@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");


/* font and root style here */
:root {
  font-family: "Heebo", sans-serif !important;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #f4f6f9;
}